body {
  background: linear-gradient(to right, #929090, #3f3d3c);
  height: 100%; 
}
h1 {
  color: rgb(167, 197, 155);
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
  font-family: 'Courier New', Courier, monospace;
}

h4{
  color: rgb(0, 187, 25);
  text-align: center;
  font-weight: bold;
  font-size: 24px
}

p {
  color: rgb(255, 255, 255);
  text-align:justify;
  font-weight: bold;
  font-size: 16px
}

.ImgLojaBolos {
  width: 50%;
  height: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0% auto;
  border-radius: 10%
}

.ImgBolo1 {
  width: 35%;
  height: 35%;
  display: flex;
  align-items: center;
  margin: 0% auto;
  border-radius: 10%
}
.ImgBolo2 {
  width: 35%;
  height: 35%;
  display: flex;
  align-items: center;
  margin: 0% auto;
  border-radius: 10%
}
.ImgBolo3 {
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  margin: 0% auto;
  border-radius: 10%
}

.container {
  text-align: center; 
}

.botao {
  background-color: #0b4064;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  display: inline-block;
  align-items: center;
  margin: 0% auto; 
  margin: 0 10px;
}

.botao:hover {
  background-color: #2980b9; /* Cor ao passar o mouse */
}

.botao:active {
  background-color: #2471a3; /* Cor quando pressionado */
}
